.mt {
  margin-top: 1.5rem;
}

.mr {
  margin-right: 0.75rem;
}

.margin-left {
  margin-left: auto;
}

.margin-right {
  margin-right: auto;
}

.active-link {
  color: $color-primary;
}

.active {
  display: block !important;
}

.flex-column {
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flex-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.back-color-green {
  background-color: $color-primary;
  color: white;

  .star-deco {
    &-line {
      background-color: white;
    }
    &-icon {
      color: white;
    }
  }
}

.back-color-white {
  background-color: white;
  color: $color-secondary;

  .star-deco {
    &-line {
      background-color: $color-secondary;
    }
    &-icon {
      color: $color-secondary;
    }
  }
}
